{{ define "title" }}Admin Company Driver Edit{{ end }}

{{ define "navbar" }}
	{{ template "secure-admin-navbar" . }}
{{ end }}

{{ define "content" }}
	<div class="row">

		<!-- BREADCRUMB NAVIGATION -->
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li>
					<a href="/admin/home">Home</a>
				</li>
				<li>
					<a href="/admin/company">Companies</a>
				</li>
				<li>
					<a href="/admin/company/{{ .company.Id }}">{{ .company.Name }}</a>
				</li>
				<li>
					<a href="/admin/company/{{ .company.Id }}/driver">Drivers</a>
				</li>
				<li class="active">
                    {{ if .driver }}
					    {{ .driver.FirstName }} {{ .driver.LastName }}
                    {{ else }}
                        New
                    {{ end }}
				</li>
			</ol>
		</div>
		<!-- BREADCRUMB NAVIGATION -->

		<div class="col-lg-5">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					{{ .company.Name }}'s Driver
					<a href="/admin/company/{{ .company.Id }}/driver" class="btn btn-default btn-xs pull-right">Cancel</a>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="/admin/company/{{ .company.Id }}/driver/{{ if .driver }}edit{{ else }}add{{ end }}" method="post">
						<div class="form-group">
							<label class="control-label col-lg-4">First Name</label>
							<div class="col-lg-8">
								<input type="text" name="firstName" class="form-control" value="{{ .driver.FirstName }}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-4">Last Name</label>
							<div class="col-lg-8">
								<input type="text" name="lastName" class="form-control" value="{{ .driver.LastName }}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-4">Date Of Birth</label>
							<div class="col-lg-8">
								<input type="date" name="dOB" class="form-control" value="{{ .driver.DOB }}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-4">Email</label>
							<div class="col-lg-8">
								<input type="text" name="email" class="form-control" value="{{ .driver.Email }}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-4">Street</label>
							<div class="col-lg-8">
								<input type="text" name="street" class="form-control" value="{{ .driver.Street }}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-4">City</label>
							<div class="col-lg-8">
								<input type="text" name="city" class="form-control" value="{{ .driver.City }}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-4">State</label>
							<div class="col-lg-8">
								<input type="text" name="state" class="form-control" value="{{ .driver.State }}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-4">Zip</label>
							<div class="col-lg-8">
								<input type="text" name="zip" class="form-control" value="{{ .driver.Zip }}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-4">Status</label>
							<div class="col-lg-8">
								<select class="form-control" name="status">
									<option value="0" {{ if .driver }}{{ if eq .driver.Status 0 }}selected{{ end }}{{ end }}>Unqualified</option>
									<option value="1" {{ if .driver }}{{ if eq .driver.Status 1 }}selected{{ end }}{{ end }}>Pending</option>
									<option value="2" {{ if .driver }}{{ if eq .driver.Status 2 }}selected{{ end }}{{ end }}>Denied</option>
									<option value="3" {{ if .driver }}{{ if eq .driver.Status 3 }}selected{{ end }}{{ end }}>Active</option>
									<option value="4" {{ if .driver }}{{ if eq .driver.Status 4 }}selected{{ end }}{{ end }}>Suspended</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-lg-4">Active</label>
							<div class="col-lg-8">
								<label class="radio-inline">
									<input type="radio" name="active" value="true" {{ if .user.Active}}checked{{ end }}> Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="active" value="false" {{ if not .user.Active}}checked{{ end }}> No
								</label>
							</div>
						</div>
						{{ if .driver }}
							<div class="text-center">
								<a data-toggle="collapse" data-parent="#accordion"
							   	href="#changePassword" class="text-primary">
									Click to change password
								</a>
							</div>
							<br/>
							<div id="changePassword" class="panel-collapse collapse">
								<!-- toggle show password input -->
								<div class="form-group">
									<label class="control-label col-lg-4">Password</label>
									<div class="col-lg-8">
										<div class="input-group">
											<input type="password" id="toggle-pass" name="password" class="form-control"/>
											<span class="input-group-btn">
												<button id="toggle-pass" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right"
														title="Click to show/hide your password">
														<i class="fa fa-eye-slash"></i>
													</button>
												</span>
											</div>
										</div>
									</div>
									<!-- toggle show password input -->
								</div>
						{{ end }}
						<div class="col-lg-12">
							<input type="hidden" name="id" value="{{ .driver.Id }}"/>
							<input type="hidden" name="userId" value="{{ .driver.UserId }}"/>
							<input type="hidden" name="companyId" value="{{ .company.Id }}"/>
							<div class="form-group">
								<button class="btn btn-primary btn-block">Save</button>
							</div>
                            {{ if .driver }}
								<div class="form-group">
									<a href="#" data-message="Are you sure you would like to delete this driver?" data-delete="/admin/company/{{ .company.Id }}/driver/{{ .driver.Id }}" class="btn btn-danger btn-block delete-button">Delete</a>
								</div>
							{{ end }}
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					All Drivers
				</div>
				{{ if .drivers }}
					<br>
					<table id="drivers" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th></th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Status</th>
								<th>Address</th>
								<th>Manage Documents</th>
							</tr>
						</thead>
						<tbody>
							{{ $company := .company }}
							{{ range $driver := .drivers }}
								<tr>
									<td><a href="/admin/company/{{ $company.Id }}/driver/{{ $driver.Id }}" class="btn btn-primary btn-xs">Edit</a></td>
									<td>{{ $driver.FirstName }}</td>
									<td>{{ $driver.LastName }}</td>
									<td>
										{{ if eq $driver.Status 0 }}
											Unqualified
										{{ else if eq $driver.Status 1 }}
											Pending
										{{ else if eq $driver.Status 2 }}
											Denied
										{{ else if eq $driver.Status 3 }}
											Active
										{{ else if eq $driver.Status 4 }}
											Suspended
										{{ end }}
									</td>
									<td>{{ $driver.Street }} {{ $driver.City }}</td>
									<td class="text-center">
										<div class="btn-group btn-group-xs">
											<a href="/admin/driver/{{ $driver.Id }}/document" class="btn btn-default">Manage Documents</a>
										</div>
									</td>
								</tr>
							{{ end }}
						</tbody>
					</table>
				{{ else }}
					<div class="text-center panel-body">
						No Drivers
					</div>
				{{ end }}
			</div>
		</div>
	</div>
{{ end }}

{{ define "scripts" }}
	<script src="/static/js/password.js"></script>
	<script src="/static/js/delete.js"></script>
	<script>
		$(document).ready(function() {
    	$('#drivers').DataTable();
		} );
	</script>
{{ end }}
