
{{ define "title" }}Comment{{ end }}

{{ define "content" }}
<br><br>
	<div class="row">
	    <div class="col-lg-offset-3 col-lg-6 text-center">
            <form action="/comment" method="post">
                <label>Comments, Notes, or Suggestions for the {{ .name }} page</label>
                <div class="form-group">
                    <textarea name="comment" rows="8" class="form-control"></textarea>
                </div>
                <input type="hidden" name="return" value="{{ .return }}">
				<input type="hidden" name="name" value="{{ .name }}">
                <button class="btn btn-primary btn-block">Submit</button>
            </form>
	    </div>
	</div>
{{ end }}
