{{ define "title" }}{{ .company.Name }} DQF Home<{{ end }}
{{ define "navbar" }}
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/{{ .company.Slug }}/driver">
				<span>DQF Management System</span>
			</a>
		</div>
	</div>
</nav>
{{ end }}
{{ define "content" }}
<div class="row">
	<div class="col-lg-offset-4 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-body">
				{{ if .company.Logo }}
					<div class="form-group text-center">
						<img id="src-image" class="img-responsive col-lg-10 col-lg-offset-1" src="/static/logo/{{ .company.Slug }}.png"/>
					</div>
				{{ end }}
				<div class="col-lg-12">
					<p class="lead text-center">DQF Management System</p>
				</div>
					<br/>
				<div class="text-center">
					<a href="/{{ .company.Slug }}/register">
						<div class="col-lg-5 styler img-thumbnail">
							<i class="fa fa-user-plus fa-3x"></i>
							<p>Driver</p>
							<p>Registration</p>
						</div>
					</a>
					<a href="/{{ .company.Slug }}/login">
						<div class="col-lg-offset-2 col-lg-5 styler img-thumbnail">
							<i class="fa fa-sign-in fa-3x"></i>
							<p>Driver</p>
							<p>Login</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<p class="text-center">
			<small>*Powered by CNS Compliance Company &amp; Truck Licensing</small>
		</p>
	</div>
</div>
{{ end }}
{{ define "scripts" }}
{{ if .company.Logo }}
<script src="/static/js/color-theif.min.js"></script>
<script src="/static/js/color-styler.js"></script>
{{ end }}
{{ end }}
