{{ define "url" }}http://localhost:8080{{ end }}
{{ define "base" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/static/img/favicon.ico">
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/data-table-bootstrap.css"/>
		<link rel="stylesheet" href="/static/css/main.css"/>
		{{ template "head" . }}
		<title>{{ template "title" . }}</title>
	</head>
	<body>
		<div style="background-color:red;" class="text-center">
			<span class="lead">
				Under Active development
			</span>
		</div>
        {{ template "navbar" . }}

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<!-- delete object alert -->
					<div id="deleteAlert" class="alert alert-danger clearfix hide">
						<form id="deleteForm" action="" method="post" class="col-lg-2">
							<button id="delete" class="btn btn-danger btn-sm">Yes</button>
							<a id="deleteCancel" class="btn btn-default btn-sm">No</a>
						</form>
						<span id="message"></span>
					</div>
					<!-- other alerts -->
					{{ if .alert }}
					<div class="alert alert-info alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{{ .alert }}
					</div>
					{{ else if .alertError }}
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{{ .alertError }}
					</div>
					{{ else if .alertSuccess }}
					<div class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{{ .alertSuccess }}
					</div>
					{{ end }}
				</div>
			</div>
        	{{ template "content" . }}
		</div>
		<div>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.7/js/jquery.dataTables.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.7/js/jquery.dataTables.min.js"></script>
			<script src="/static/js/data-table-bootstrap.js"></script>
			<script src="/static/js/main.js"></script>
			{{ template "scripts" . }}
		</div>
	</body>
</html>
{{ end }}

{{ define "head" }}{{ end }}
{{ define "navbar" }}{{ end }}
{{ define "scripts" }}{{ end }}
