{{ define "main_navbar" }}
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Customer & Content Management System</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/employee/company"><i class="fa fa-building-o"></i> Company</a></li>
					<li><a href="/employee/driver"><i class="fa fa-male"></i> Driver</a></li>
					<li><a href="/employee/vehicle"><i class="fa fa-truck"></i> Vehicle</a></li>
				</ul>
			</div>
		</div>
	</nav>
{{ end }}